extends layout

block content
  div.container 
    div.panel.panel-default
      div.panel-body
        h2 Login
        if message
          div.alert.alert-danger
            != message 
        form(action="/login", method="post")
          .form-group
            label(for="username") Username:
            input.form-control(type="text", placeholder="Insert Your Username", name="username")
          .form-group
            label(for="password") Password:
            input.form-control(type="password", placeholder="Insert Your Password", name="password")
          .form-group(style="text-align: center;")
            input.btn.btn-primary(type="submit", value="Login", style="width: 100%; padding:15px; font-size:16px;")
  
